body{
    background-color: cornflowerblue;
    padding: 0;
    margin: 0 ;
    
}
 
.topbar {
    background-color:orangered;
}
  
.topbar-inner {    
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;

}
  
.login {
    display: flex;
    font-size: 20px;
}
  
.acesso {
    margin-left: 10px;
    align-self: flex-end;
}
  
.input-senha + .input-senha {
    margin-left: 10px;    
}
  
.input-container label {
    display: block;
}

h1{
    text-align: center;
    font-size: 50px;
}
.formulario {
    margin-left: 15px;
  
}
h2{
    font-size: 30px;
    margin-left: 10px;
}
.formulario{
    font-size: 20px;

}
input{
    font-size: 20px;
        
}
.doc{
    display: flex;
    
}
#doc{
    margin-left: 20px;

}
#endereco{
    width: 550px;
}
#botao{
    margin-left: 320px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    
    
    
}
